<%- include('./../partials/head')%>
    <%- include('./../partials/admin_nav', {name:"Add products"})%>
        <%if(msg !== null){%>
            <div class="alert alert-dark" role="alert">
                <%=msg%>
            </div>
            <%}%>
                <div class="productField">
                    <h3>Product Details</h3>
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-5">
                            <form class="row" action="/createProduct" method="post" novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="productName" name="productName">
                                        <label for="productName">Product Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="productCategory" name="productCategory">
                                        <label for="productCategory">Product Category</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="productBrand" name="productBrand">
                                        <label for="productBrand">Product Brand</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="productColor" name="productColor">
                                        <label for="productColor">Primary Color</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="number" min="1" class="form-control" id="productPrice" name="productPrice">
                                        <label for="productPrice">Price</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="availableSizes" name="availableSizes">
                                        <label for="availableSizes">Available sizes</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        <input type="number" min="1" class="form-control" id="productQuantity" name="productQuantity">
                                        <label for="productQuantity">Product quantity</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <textarea class="form-control" id="description" name="description" row="5" placeholder="Product description"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <p>Product Images</p>
                                        <input type="file" class="form-control" id="file" name="productImage" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h3>Designer Details</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="designerName" name="designerName">
                                        <label for="designerName">Designer Name</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <input type="email" class="form-control" id="designerEmail" name="designerEmail">
                                        <label for="designerEmail">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <input type="tel" class="form-control" id="designerNumber" name="designerNumber">
                                        <label for="designerNumber">Phone</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        <input type="text" class="form-control" id="location" name="location">
                                        <label for="designerLocation">Location</label>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <input class="btn btn-dark btn-block" type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--================End Checkout Area =================-->
                <%- include("./../partials/scripts") %>
                    </body>

                    </html>