<!DOCTYPE html>
<html lang="en">


<%- include('./../partials/head')%>

    <body>
        <!--================Header Menu Area =================-->
        <%- include('./../partials/admin_nav', {name: "View Products"})%>

            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="/img/product/single-product/cart-1.jpg" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <p>Minimalistic shop for multipurpose use</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>$360.00</h5>
                                        </td>
                                        <td>
                                            <h5>Bikini wear</h5>
                                        </td>
                                        <td>
                                            <h5>
                                                <span>5 left</span>
                                                <!-- <br>
                                                <span>6 sold</span> -->
                                            </h5>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">view</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="/img/product/single-product/cart-1.jpg" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <p>Minimalistic shop for multipurpose use</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>$360.00</h5>
                                        </td>
                                        <td>
                                            <h5>Bikini wear</h5>
                                        </td>
                                        <td>
                                            <h5>
                                                <span>5 left</span>
                                                <!-- <br>
                                                <span>6 sold</span> -->
                                            </h5>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">view</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="/img/product/single-product/cart-1.jpg" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <p>Minimalistic shop for multipurpose use</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>$360.00</h5>
                                        </td>
                                        <td>
                                            <h5>Bikini wear</h5>
                                        </td>
                                        <td>
                                            <h5>
                                                <span>5 left</span>
                                                <!-- <br>
                                                <span>6 sold</span> -->
                                            </h5>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">view</button>
                                        </td>
                                    </tr>
                                    <tr class="bottom_button">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->

            <%- include("./../partials/scripts.ejs") %>

    </body>

</html>