<div class="container empty text-center">
    <div class="">
        <img class="illustration" src="/img/empty.svg" alt="Empty-cart" srcset="">
        <p>
            <%= msg %>
        </p>
    </div>
</div>