<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>
        <!--================Header Menu Area =================-->
        <%- include("./partials/nav")%>
            <!--================Header Menu Area =================-->
            <h1 class="text-center">Style Guides</h1>


            <%- include("./partials/scripts") %>
    </body>

</html>