<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>
        <!--================Header Menu Area =================-->
        <%- include("./partials/nav", {name: "Jobs"})%>

            <%- include("./partials/scripts") %>
    </body>

</html>