<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>
        <!--================Header Menu Area =================-->
        <%- include("./partials/nav", {name: "Collection"})%>

            <%- include("./partials/scripts.ejs") %>

                <script src="vendors/jquery-ui/jquery-ui.js"></script>
                <!-- contact js -->
                <script src="/js/jquery.form.js"></script>
                <script src="/js/jquery.validate.min.js"></script>
                <script src="/js/contact.js"></script>
                <!--gmaps Js-->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
                <script src="/js/gmaps.min.js"></script>
    </body>

</html>